.header {
    background-color: $primary;
    padding: 30px 88px;

    .navbar-nav {
        li {
            margin-right: 64px;
        }

        li:nth-last-child(1) {
            margin: 0;
        }

        a {
            display: block;
            color: #ffffff;
            line-height: 30px;
            font-size: 20px;
        }
    }

    .ham-icon {
        display: none;
    }

    @media(max-width: 992px) {
        padding: 30px 48px;

        .navbar-nav {
            li {
                margin-right: 40px;
            }

        }
    }

    @media(max-width: 768px) {
        padding: 10px 16px;
        position: relative;

        .navbar-brand {
            width: 48px;
            height: 30px;
        }

        .ham-icon {
            display: block;
            position: absolute;
            font-size: 24px;
            color: #fff;
            top: 7px;
            left: 16px;
        }
    }
}