<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header d-flex justify-content-between justify-sm-content-center">
    <div class="navbar-brand">
      <a href="./"><img src="./assets/images/logo.png" alt=""></a>
    </div>
    <a href="#" class="ham-icon">
      <img src="./assets/images/icon-menu.svg" alt="">
    </a>
    <ul class="navbar-nav d-flex align-items-center d-sm-none">
      <li><a href="#">系列鏡框</a></li>
      <li><a href="#">門市據點</a></li>
      <li><a href="#">部落格</a></li>
      <li><a href="./faq.html">常見問題</a></li>
    </ul>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="container">
      <div class="footer-info">
        <div class="footer-social d-flex justify-content-between">
          <div>
            <ul class="d-flex menu font-1 d-sm-none">
              <li><a href="#">首頁</a></li>
              <li><a href="#">系列鏡框</a></li>
              <li><a href="#">門市據點</a></li>
              <li><a href="#">部落格</a></li>
              <li><a href="#">常見問題</a></li>
            </ul>

            <div class="footer-communication">
              <p class="d-flex align-items-center"><img src="./assets/images/icon-phone.svg" alt=""><span
                  class="font-3">0800-000-000</span>
              </p>
              <p class="d-flex align-items-center"><img src="./assets/images/icon-mail.svg" alt=""><span
                  class="font-3">glasses@business.com</span>
              </p>
            </div>
          </div>
          <ul class="d-flex icon">
            <li><a href="#"><img src="./assets/images/icon-fb.svg" alt=""></a></li>
            <li><a href="#"><img src="./assets/images/icon-ig.svg" alt=""></a></li>
            <li><a href="#"><img src="./assets/images/icon-line.svg" alt=""></a></li>
          </ul>
        </div>
      </div>
      <div
        class="footer-copyright d-flex justify-content-between align-items-center flex-sm-column align-sm-items-start">
        <div class="d-flex align-items-center"><img src="./assets/images/logo.png" alt="" class="d-md-none logo"><span
            class="font-1">Copyright
            © 2020 Glasses.All
            rights
            reserved.</span></div>
        <div class="d-sm-flex  flex-sm-column"><a href="#">隱私權政策</a><a href="#">服務條款</a></div>
      </div>
    </div>
  </footer>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>