.card {}

.card-body {
    border: 1px solid #dee2e6;
    border-top: 0;
    padding: 1rem;
}

.card-title {
    line-height: 21px;
    margin-bottom: 1rem;
}

.card-text {
    margin-bottom: 1rem;
    line-height: 24px;
}

.card-footer {
    color: #707070;
    line-height: 21px;
}

@media(max-width:992px) {
    .card {
        width: 324px;
    }
}